@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Hide default cursor everywhere */
html, body, #__next, #root {
  cursor: none !important;
}

/* Hide scrollbar for all elements */
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

/* Remove default borders and outlines */
svg,
svg circle,
canvas,
div,
button {
  outline: none !important;
  border: none !important;
}

/* Ensure no default styles create unwanted visual artifacts */
canvas {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  overflow-x: hidden;
}